
html 
{
    background-color: Black; 
}

body 
{
    font-size: 12px;
    font-family: "Lucida Grande", Geneva, Arial, Helvetica, sans-serif;
    color: White;
}

#main 
{
    margin: auto;
    width: 960px;
    padding: 20px;
}

h1, h2 
{
    font-family: 'Allerta Stencil';
    margin: 5px 0px;
}

h1
{
    font-size: 3.5em;
}

h2
{
    font-size: 2.5em;
}

label, .label-like
{
    font-size: 1.5em;  
    text-align: left; 
}

input 
{
    padding: 4px;
    font-size: 1.7em;
    background-image: url("../../Content/Images/input_background.png");
}

select 
{
    padding: 5px;
    font-size: 1.25em;
}

a 
{
    color: Red;
    font-weight:bold;
    margin: 10px;
    padding: 3px;
    font-size: 1.3em;   
}

a:visited 
{   
    color: Red;
}

#banner-logo
{
    float: left;
}

#banner-title
{
    float: left;
    margin-top: 75px;
}

.clear 
{
    float: none;
    clear: both;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #E8E8E8;
    float: left;
    clear: both;
    font-size: 1.1em;
    margin: 2px 0px 2px 10px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.details-section 
{
    background-image: url("../../Content/Images/section-background.png");
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    clear: both;
}

.new-line 
{
    clear: left;
}

.details-section label, .details-section input, .details-section select
{
   float: left;
   clear: left;
}

.details-section div
{
    margin: 2px;
    padding: 2px;
}

.details-section div.field
{
    float: left;
    margin-bottom: 5px;
}

.details-section div input, .details-section div label
{
    
}

.rounded-corners 
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.rounded-corners-small
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

label.required:after 
{
    content: "*"; 
}

.button-panel 
{
    text-align: right;
    margin: 5px 0px;
}

#send-application
{
    width: 250px;
    font-family: 'Allerta Stencil';
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    border: 1px solid Gray;
    color: White;
    background-image: url("../../Content/Images/submit_button_background.png");
    cursor: pointer;
}

input[type='submit']:hover
{
    opacity: 0.85;
}

a.icon-link 
{
    background: no-repeat left 50%;
    padding: 3px 3px 3px 23px;
    margin: 5px;
}

a.remove-emergency-contact, a.remove-vehicle
{
    float: left;
    margin-left: 15px;
}

a#add-emergency-contact 
{
    background-image: url("../../Content/Images/user_add.png");
}

a#add-vehicle 
{
    background-image: url("../../Content/Images/car_add.png");
}

a.remove-emergency-contact 
{
    background-image: url("../../Content/Images/user_delete.png");
    margin-top: 25px;
}

a.remove-vehicle 
{
    background-image: url("../../Content/Images/car_delete.png");
}

div.title input
{
    width: 50px;
}

div.first-name input
{
    width: 390px;
}

div.last-name input
{
    width: 390px;
}

div.unit-number input
{
    width: 95px;
}

div.street-number input
{
    width: 95px;
}

div.street-name input
{
    width: 625px;
}

div.contact-number 
{
    width: 148px;
    min-height: 40px;
}

div.contact-number span
{
    display: block;
    margin-top: 20px;
}

div.home-number label, div.mobile-number label, div.work-number label
{
    font-size: 1.3em;
}

div.home-number input, div.mobile-number input, div.work-number input
{
    width: 225px;
}

div.suburb input
{
    width: 660px;
}

div.postcode input
{
    width: 107px;
}

div.state select
{
    margin-top: 2px;
    width: 72px;
    height: 36px;
}

div.email input
{
    width: 415px;
}

div.date-of-birth input
{
    width: 110px;
}

div.occupation input
{
    width: 305px;
}

#DietaryMedicalAlerts 
{
    width: 875px;
}

div.emergency-contact-name input
{
    width: 340px;
}

div.emergency-contact-number input
{
    width: 225px;
}

div.emergency-contact-relationship input
{
    width: 140px;
}

