
html 
{
    background-color: Black; 
}

body 
{
    font-size: 12px;
    font-family: "Lucida Grande", Geneva, Arial, Helvetica, sans-serif;
    color: White;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.details-section 
{
    background-image: url("../../Content/Images/section-background.png");
    margin: 20px;
    padding: 10px;
    clear: both;
}

.details-section .form-fields 
{
    clear: both;
}

.details-section h2 
{
    font-family: 'Special Elite';
    font-size: 3em;
    margin: 5px 0px;
}

.details-section label, .details-section p
{
    float: left;
    text-align: right;
    padding: 3px;
    width: 100px;
}

.details-section input, .details-section select
{
    float: left;
}

.clear 
{
    clear: both;
}
